{% extends 'sensor/base.html' %} {% block content %}

<div class="container">
  <canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>

  <script>
    var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];

    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [
          {
            data: [35, 36, 37, 32, 31, 30, 28, 30, 32, 35],
            borderColor: "red",
            fill: false,
          },
          {
            data: [68, 69, 72, 65, 62, 60, 58, 62, 68, 69],
            borderColor: "green",
            fill: false,
          },
        ],
      },
      options: {
        legend: { display: false },
      },
    });
  </script>
</div>

<div class="container">
  <canvas id="myChart2" style="width: 100%; max-width: 600px"></canvas>

  <script>
    var xValues = ["SENSOR1", "SENSOR2", "SENSOR3", "SENSOR4", "SENSOR5"];
    var yValues = [34.5, 33.6, 25.1, 24.3, 37.5];
    var barColors = ["blue", "orange", "green", "yellow", "red"];

    new Chart("myChart2", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [
          {
            backgroundColor: barColors,
            data: yValues,
          },
        ],
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Sensors in Farm1",
        },
      },
    });
  </script>
</div>

{% endblock content %}
